share-widget {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.9;

    div {
        width: 30px;
        height: 30px;
        background-image: url("/img/share.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.apple share-widget div {
    background-image: url("/img/share-apple.svg");
}

share-widget button {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    overflow: visible;
    cursor: pointer;
    display: inline-block;
    padding: 0.75em 1.5em;
    text-align: center;
    margin: 0 0.75em 1.5em 0;
    border-radius: 0.3em;
    max-width: 100%;
    &:not([disabled]) {
        background: var(--primary);
        color: var(--background);
    }

    &:active {
        transform: scale(1.2);
    }
}
